* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color:#E0E2E8;
    font-family: "Poppins", sans-serif;
    color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 18.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.menu a:hover {
  color: #5DA5B3;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.menu {
  width: 0%;
  height: 80%;
}

#menuToggle
{
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span
{
    display: block;
    width: 26px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #1C1C1F;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #1C1C1F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg)     
      scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    position: absolute;
    width: 90vw;
    height: 110vh;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: rgba(236, 240, 241, 0.97);;
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: center;

}

#menu li
{
    padding: 15px 0;
    color: #000000;
    list-style-type: none;
    font-size: 2em;
    font-weight: 300;
}

#menu li a {
      color: #1C1C1F;
      text-decoration: none;
      text-transform: uppercase;
}

#menu li a:hover {
    color: #5DA5B3;
    text-decoration: underline;
}

#menuToggle input:checked ~ ul
{
    transform: scale(1.0, 1.0);
    opacity: 1;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 80%;
}

.logo img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  .menu {
    width: 35%;
  }

  .logo {
    width: 15%;
  }

  .menu nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    padding: 0.5rem;
    display: inline-block;
    text-transform: uppercase;
  }

}

@media only screen and (min-width: 992px) {
  body {
    font-size: 1.2rem;
  }

  .logo {
    width: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.5rem;
  }

  .logo {
    width: 25%;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    font-size: 1.5rem;
  }

  .logo {
    width: 25%;
  }
}